:root {
  --lifting-green-dark: #275B47;
  --lifting-green: #39B54A;
  --lifting-green-ui: #00A859;
  --lifting-bg-dark: #0D2B2A;
  --lifting-bg-soft: #EAF0ED;
  --lifting-white: #F7FAF9;
  --lifting-border: #DDE8E2;
}
